@import "../../app.scss";
.movie-list {
  position: relative;
  background-color: #fff;
  margin: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  overflow: hidden;
  transition: transform 0.2s;
  max-width: 300px;

  @include tablet {
    max-width: 290px;
  }
  @include mobile {
    width: 100%;
    margin: 20px 0px;
  }

  @include smobile{
    max-width: 250px;
  }

  img {
    width: 100%;
    height: auto;
    display: block;
  }
}
