@import "../../app.scss";
.single-movie {
  background-color: var(--main-color);
  overflow: hidden;

  .single-movie-main {
    height: 600px;
    position: relative;
    .category {
      position: absolute;
      top: 80px;
      left: 50px;
      font-size: 30px;
      font-weight: 500;
      color: white;
      display: flex;
      align-items: center;

      select {
        cursor: pointer;
        background-color: var(--main-color);
        border: 1px solid white;
        color: white;
        margin-left: 20px;
        padding: 5px;
      }
    }

    .image-container {
      height: 100%;
      width: 100%;
      @include mobile {
        height: auto;
      }
    }

    .image-container img {
      width: 100%;
      height: 100%;
    }

    @include mobile {
      .gradient-overlay {
        position: absolute;
        top: 113px;
        left: 0;
        right: 0;
        height: 20%;
        background: linear-gradient(
          0deg,
          #181818 0,
          hsla(0, 0%, 9%, 0.987) 1.62%,
          hsla(0, 0%, 9%, 0.951) 3.1%,
          hsla(0, 0%, 9%, 0.896) 4.5%,
          hsla(0, 0%, 9%, 0.825) 5.8%,
          hsla(0, 0%, 9%, 0.741) 7.06%,
          hsla(0, 0%, 9%, 0.648) 8.24%,
          hsla(0, 0%, 9%, 0.55) 9.42%,
          hsla(0, 0%, 9%, 0.45) 10.58%,
          hsla(0, 0%, 9%, 0.352) 11.76%,
          hsla(0, 0%, 9%, 0.259) 12.94%,
          hsla(0, 0%, 9%, 0.175) 14.2%,
          hsla(0, 0%, 9%, 0.104) 15.5%,
          hsla(0, 0%, 9%, 0.049) 16.9%,
          hsla(0, 0%, 9%, 0.013) 18.38%,
          hsla(0, 0%, 9%, 0) 20%
        );
      }
    }

    .info {
      width: 35%;
      position: absolute;
      left: 50px;
      bottom: 100px;
      color: white;
      display: flex;
      flex-direction: column;

      @include mobile {
        bottom: 50px;
      }

      img {
        width: 35vw;
        @include mobile {
          width: 60vw;
        }
      }

      .desc {
        margin: 20px 0px;

        @include mobile {
          width: 60vw;
        }
      }

      .title {
        font-size: 20px;
        font-weight: 500;
        margin: 20px 0px 0px 0px;
        white-space: nowrap;
      }

      .buttons {
        display: flex;

        button {
          padding: 10px 20px;
          border: none;
          border-radius: 5px;
          align-items: center;
          display: flex;
          justify-content: center;
          font-size: 18px;
          font-weight: 500;
          margin-right: 10px;
          cursor: pointer;

          &.play {
            background-color: white;
            color: var(--main-color);
          }

          &.more {
            background-color: gray;
            color: white;
          }

          span {
            margin-left: 5px;
          }
        }
      }
    }
  }

  .movie-detail {
    position: relative;
    padding: 50px;
    font-size: 24px;
    color: white;

    .detail-header {
      display: flex;
      justify-content: space-between;

      .my-list {
        background-color: red;
        height: 50px;
        color: white;

        @include mobile {
          display: none;
        }
      }

      
    }

    .mobile-mylist {
      height: 50px;
      color: white;
      display: none;
      @include mobile {
        display: block;
      }
    }

    .title {
      font-size: 35px;
      padding: 10px 0px;
    }

    .movie-desc {
      padding: 10px 0px;
      text-transform: CAPITALIZE;
    }
  }

  .similar-movies {
    display: flex;
    flex-direction: column;
    padding: 25px;
    background-color: var(--main-color);

    .container {
      display: grid;
      grid-template-columns: auto auto auto auto;
      gap: 10px;
      padding: 10px;
      @include tablet {
        grid-template-columns: repeat(3, 1fr);
      }
      @include mobile {
        grid-template-columns: 1fr;
      }
    }
    .title {
      color: white;
      font-size: 32px;
      font-weight: 500;
      padding: 20px;
    }
  }

  .empty {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;

    .loader {
      border: 6px solid #f3f3f3;
      border-top: 6px solid #3498db;
      border-radius: 50%;
      width: 50px;
      height: 50px;
      animation: spin 2s linear infinite;
    }

    @keyframes spin {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
  }
}
